body{
  background-color: #4B0082;
  color: white;
  font-family: Arial,Helvetica, sans-serif;
  margin: 10% 20%;
  
}
.exp-header{
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  background-color: cornflowerblue;
  
}

h4 {
  color: #7fff00
}
h5 {
  font-weight: 800
}
